services:
  hennos:
    container_name: hennos
    restart: unless-stopped
    image: hennos-gpt:latest
    ports:
      - "16006:16006"
    volumes:
      - ".env:/app/hennos/.env"
      - "./data/:/app/hennos/data/"
  terrarium:
    container_name: terrarium
    image: ghcr.io/khoj-ai/terrarium:latest
    ports:
      - "16007:8080"
